# Ignore node_modules directory
node_modules/

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore dist directory
dist/

# Ignore all log files
*.log

# Ignore all .DS_Store files
.DS_Store